<div class="container">

    <!-- Título -->
    <div class="row justify-content-start mb-3">
        <h2>Detalles del evento</h2>
    </div> 
    
    <!-- Botón volver -->
    <div class="row justify-content-end mb-4">
        <button class="btn btn-primary" routerLink="/events/billboard" type="button">Volver</button>
    </div>

    <div class="row justify-content-between">

        <!-- Session List -->
        <app-session-list 
            class="col-md-6 mb-4 mb-md-0"
            [sessionsToShow]="sessionsToShow"
            *ngIf="eventToShow"></app-session-list>

        <!-- Error block -->
        <div class="col-md-6 mb-4 mb-md-0"
            *ngIf="displayError">
            <div class="border border-2 rounded p-3 d-flex">
                <p>EVENT INFO NOT FOUND</p>
            </div>
        </div>
        
        <!-- Shopping Cart -->
        <app-shopping-cart class="col-md-6"></app-shopping-cart>

    </div>
    

</div>
