<div class="border border-2 rounded p-3">

    <!-- Título -->
    <h4 class="mb-2">Sesiones</h4>

    <!-- Lista -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
            <!-- Texto -->
            <div>
                <!-- Fecha -->
                <p>Fecha: 23/09/2015, Disponibilidad: 3 </p>                
            </div>

            <!-- Controles -->
            <div>
                <!-- Botón menos -->
                <span class="mr-2">
                    <fa-icon [icon]="faMinus"></fa-icon>
                </span>                
                <!-- Número -->
                <span>0</span>
                <!-- Botón más -->
                <span class="ml-2">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </span>
                
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between">
            <!-- Texto -->
            <div>
                <!-- Fecha -->
                <p>Fecha: 23/09/2015, Disponibilidad: 3 </p>                
            </div>

            <!-- Controles -->
            <div>
                <!-- Botón menos -->
                <span>-</span>
                <!-- Número -->
                <span>0</span>
                <!-- Botón más -->
                <span>+</span>
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between">
            <!-- Texto -->
            <div>
                <!-- Fecha -->
                <p>Fecha: 23/09/2015, Disponibilidad: 3 </p>                
            </div>

            <!-- Controles -->
            <div>
                <!-- Botón menos -->
                <span>-</span>
                <!-- Número -->
                <span>0</span>
                <!-- Botón más -->
                <span></span>
            </div>
        </li>
        
    </ul>
</div>
