<div class="card mb-4">
    <!-- Título y subtítulo -->
    <div class="card-header">
        <h5 class="card-title" routerLink="/events/detail/{{ eventToShow.id }}">{{ eventToShow.title }}</h5>
        <h6 class="card-text" routerLink="/events/detail/{{ eventToShow.id }}">{{ eventToShow.subtitle }}</h6>
    </div>

    <!-- Imagen -->       
    <img src="{{ eventToShow.image }}" routerLink="/events/detail/{{ eventToShow.id }}" class="card-img-top" alt="Imagen evento">

    <!-- Body -->
    <div class="card-body">
        <p class="card-text">{{ eventToShow.startDate }} - {{ eventToShow.endDate }}</p>
        <p class="card-text">{{ eventToShow.place }}</p>
        <hr class="d-none d-md-block">
        <p class="card-text d-none d-md-block" innerHTML="{{ eventToShow.description }}"></p>
    </div>

    <!-- Button -->
    <div class="d-flex">
        <button class="btn btn-primary flex-grow-1" routerLink="/events/detail/{{ eventToShow.id }}" type="button">Comprar</button>
    </div>   
</div>
